<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ArticleServlet</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>onlinehelpdesk.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <display-name>OnlinHelpDesk9</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DeleteticketServlet</servlet-name>
    <servlet-class>onlinehelpdesk.DeleteticketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>onlinehelpdesk.updateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewticketServlet</servlet-name>
    <servlet-class>onlinehelpdesk.viewticketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>onlinehelpdesk.registrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdticketServlet</servlet-name>
    <servlet-class>onlinehelpdesk.UpdticketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewtTAdminServlet</servlet-name>
    <servlet-class>onlinehelpdesk.viewtTAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>contactUsServlet</servlet-name>
    <servlet-class>onlinehelpdesk.contactUsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTicketServlet</servlet-name>
    <servlet-class>onlinehelpdesk.AddTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userListServlet</servlet-name>
    <servlet-class>onlinehelpdesk.userListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>onlinehelpdesk.logoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowFAQServlet</servlet-name>
    <servlet-class>onlinehelpdesk.ShowFAQServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>onlinehelpdesk.deleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFAQServlet</servlet-name>
    <servlet-class>onlinehelpdesk.AddFAQServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>contactuslistServlet</servlet-name>
    <servlet-class>onlinehelpdesk.contactuslistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateFAQS</servlet-name>
    <servlet-class>onlinehelpdesk.UpdateFAQS</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFAQServlet</servlet-name>
    <servlet-class>onlinehelpdesk.DeleteFAQServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>onlinehelpdesk.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteticketServlet</servlet-name>
    <url-pattern>/y_delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewticketServlet</servlet-name>
    <url-pattern>/y_view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdticketServlet</servlet-name>
    <url-pattern>/y_update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewtTAdminServlet</servlet-name>
    <url-pattern>/yadminlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>contactUsServlet</servlet-name>
    <url-pattern>/contactus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTicketServlet</servlet-name>
    <url-pattern>/y_insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userListServlet</servlet-name>
    <url-pattern>/userlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowFAQServlet</servlet-name>
    <url-pattern>/GetFAQ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFAQServlet</servlet-name>
    <url-pattern>/AddFAQServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>contactuslistServlet</servlet-name>
    <url-pattern>/msglist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFAQS</servlet-name>
    <url-pattern>/UpdateFAQS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFAQServlet</servlet-name>
    <url-pattern>/DeleteFAQServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteArticleServlet</display-name>
    <servlet-name>deleteArticleServlet</servlet-name>
    <servlet-class>onlinehelpdesk.deleteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteArticleServlet</servlet-name>
    <url-pattern>/deleteArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateArticleServlet</display-name>
    <servlet-name>UpdateArticleServlet</servlet-name>
    <servlet-class>onlinehelpdesk.UpdateArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateArticleServlet</servlet-name>
    <url-pattern>/UpdateArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userViewServlet</display-name>
    <servlet-name>userViewServlet</servlet-name>
    <servlet-class>onlinehelpdesk.userViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userViewServlet</servlet-name>
    <url-pattern>/userViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewArticleServlet</display-name>
    <servlet-name>viewArticleServlet</servlet-name>
    <servlet-class>onlinehelpdesk.viewArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewArticleServlet</servlet-name>
    <url-pattern>/viewArticleServlet</url-pattern>
  </servlet-mapping>
</web-app>