<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>OnlinHelpDesk9</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddTicketServlet</display-name>
    <servlet-name>AddTicketServlet</servlet-name>
    <servlet-class>onlinehelpdesk.AddTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTicketServlet</servlet-name>
    <url-pattern>/AddTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdticketServlet</display-name>
    <servlet-name>UpdticketServlet</servlet-name>
    <servlet-class>onlinehelpdesk.UpdticketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdticketServlet</servlet-name>
    <url-pattern>/UpdticketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewticketServlet</display-name>
    <servlet-name>viewticketServlet</servlet-name>
    <servlet-class>onlinehelpdesk.viewticketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewticketServlet</servlet-name>
    <url-pattern>/viewticketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteticketServlet</display-name>
    <servlet-name>DeleteticketServlet</servlet-name>
    <servlet-class>onlinehelpdesk.DeleteticketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteticketServlet</servlet-name>
    <url-pattern>/DeleteticketServlet</url-pattern>
  </servlet-mapping>
</web-app>